@charset "UTF-8";
@import url(https://fonts.googleapis.com/css?family=Titillium+Web); //fonte da google

@font-face { //fonte local
             font-family:'FonteLogo';
             src: url("../_fonts/bubblegum-sans-regular.otf");
            
}
video#filme {
    display:block;
    position: relative;
    
    width:490px;
}
video#filme2 {
    display:block;
    position: relative;
    
    width:350px;
}


body {
    background-color: #DDDDDD;
    color: rgba(0,0,0,1);
    font-family: Arial, sans-serif;
        //bugs do chrome e do firefox
       
        -webkit-animation-delay: 0.1s;
    -webkit-animation-name: fontfix;
    -webkit-animation-duration: 0.1s;
    -webkit-animation-iteration-count: 1;
    -webkit-animation-timing-function: linear;
}
@-webkit-keyframes fontfix {
    from { opacity: 1; }
    to   { opacity: 1; }
}
div#interface {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin: -20px auto 0;
    padding: 10px;
    width: 900px;
}
section#corpo {
    display:block;
    width:500px;
    float: left;
    border-right: 1px solid #606060;
    padding-right: 15px;
}

aside#lateral {
    display:block;
    width:350px;
    float: right;
    background-color: #dddddd;
    padding:10px;
    margin-top:10px;
    box-shadow: 2px 2px 2px rgba(0,0,0,.5);
}

aside#lateral h1 {
     font-family: 'FonteLogo', sans-serif;
    margin-top: 0px;
    font-size: 20pt;
    color:#606060;
}

aside#lateral h2 {
    background-color: #606060;
    font-size: 15pt;
    color: #ffffff;
    padding:5px;
    
}

footer#rodape {
    clear:both;
    border-top: 1px solid #606060;
}

a {
    color: #606060;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
   
}
article#noticia-principal h2 {
    font-size: 12pt;
    color: #606060;
    background-color: #dddddd;
    padding: 5px 0px 5px 10px;
    margin: 10px 0px 10px 0px;
}

header#cabecalho-artigo h1{
    font-family: 'FonteLogo', sans-serif;
    font-size: 20pt;
    color: #606060;
    margin-bottom:0px;
    margin-top: 0px;
}

header#cabecalho-artigo h2{
    font-size:13px;
    color: #cecece;
    background-color: #ffffff;
    margin:0px;
}

header#cabecalho-artigo h3{
    font-size: 12px;
    color: #606060;
    
}

.direita {
    text-align:right;
}

table#tabelaspec {
    border:1px solid #606060;
    border-spacing: 0px;
    margin-left:auto;
    margin-right:auto;
}
table#tabelaspec td {
    border: 1px solid #606060;
    padding: 10px;
    text-align:center;
}

table#tabelaspec td.ce {
   color: #ffffff;
   background-color: #606060;
   vertical-align: top;
   font-weight:bold;
}


table#tabelaspec td.cd {
    background-color: #cecece;
}

table#tabelaspec caption {
    color: #888888;
    font-size: 10pt;
    font-weight: bolder;
}

table#tabelaspec caption span {
    display:block;
    float: right;
    color: #000000;
    font-size:8px;
    margin-top: 10px;
}

p{
    text-align:justify; text-indent: 50px;
}

footer#rodape p {
    text-align:center;
}

figure.foto-legenda {
    position:relative;
    border: 8px solid white;
    box-shadow: 1px 1px 4px black;

}
figure.foto-legenda img {
    width:100%;
    height:100%;
}

figure.foto-legenda figcaption {
    opacity:0;
    position:absolute;
    top:0px;
    background-color: rgba(0,0,0,0.4);
    color:white;
    width:100%;
    height:100%;
    padding: 10px;
    box-sizing: border-box;
    transition: opacity 1s;
}
figure.foto-legenda:hover figcaption {
    opacity:1;
}

//formatação menu
nav#menu {
    display:block;
} 

nav#menu h1{
    display:none;
}
nav#menu ul{
    list-style: none;
    position:absolute;
    top:-20px;
    left:520px;

}
nav#menu li { display: inline-block;
              text-transform: uppercase;
              background-color: #dddddd;
              padding: 10px;
              transition: background-color 1s;
}

nav#menu li:hover{
    background-color: #606060;
}

nav#menu a {
    color: #000000;
    text-decoration: none;
}
nav#menu a:hover{
    color:#ffffff;
}

header#cabecalho {
    background: url("../_imagens/glass-logo-peq.jpg") no-repeat 0px 80px; //deslocamento horizontal e vertical;
    height: 150px;
    border-bottom: 1px #606060 solid;//tamanho cor formato

}

header#cabecalho h1 {
    font-family: 'FonteLogo', sans-serif;
    font-size: 30pt;
    color: #606060;
    text-shadow: 1px 1px 1px rgba(0,0,0,.6);
    padding:0px;
    margin-bottom: 0px;
}

header#cabecalho h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size:15pt;
    color: #888888;
    padding:0px;
    margin-top:0px;
}
header#cabecalho img#icone{
    position:absolute;
    left: 930px;
    top:50px;
}

//divisões em seções
