@charset "UTF-8";
div#tv-radio {
    width:900px;
    height: 580px;
    margin: auto;
    background: url("../_imagens/radio-tv.png") no-repeat;
}

audio#musica {
    display:block;
    position: relative;
    width:300px;
    top: 500px;
    left: 575px;
    
}
video#filme {
    display:block;
    position: relative;
    left: 90px;
    top: 90px;
    width:440px;
}